
body {
    font-family: 'Rubik', sans-serif;
}

.btn-primary {
    background-color: $details_color;
    margin: 0 0 0 33px;
    padding: 8px 28px;
    @include bd_radius(5px);
    outline: 0;
    border: 0;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus {
        background-color: $details_color;
        border: 0;
        box-shadow: none;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: #73d462;
        border: 0;
        box-shadow: none;
    }
}

ul {
    margin-bottom: 0;
    padding: 0;

    li {
       list-style-type: none;
    }
}

a {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.special-link {
    color: #007bff;

    &:hover {
        color: #0056b3;
    }
}
