footer {
    padding: 90px 0 30px;
    background-color: $main_color;
    color: $secondary_color;

    #footer-top {
        font-size: 20px;

        .container {
            border-bottom: 1px solid $secondary_color;
            padding: 0;
        }

        img {
            width: 200px;
        }

        address {
            margin-top: 5px;
            font-size: 15px;
        }
    }

    #footer-bottom {
        a {
            display: inline-block;
            margin: 30px 20px;

            i {
                font-size: 35px;

                &:hover {
                    color: $details_color;
                }
            }
        }

        p {
            font-size: 15px;
        }
    }
}
