#jumbotron {
    padding: 160px 0 80px;
    color: $main_color;

    h1 {
        font-size: 56px;
        font-weight: 300;
    }

    .subtitle {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 500;
        margin-top: 40px;
    }

    ul {
        padding-left: 20px;

        li {
            list-style-type: $list_style_default;
            font-weight: 300;
            font-size: 19px;
        }
    }

    img {
        width: 90%;
    }
}

#results {
    padding: 40px 0;
    background-color: $main_color;
    color: $secondary_color;

    h3 {
        font-size: 50px;
        font-weight: 400;

        span {
            font-size: 33px;
        }
    }

    p {
        font-size: 19px;
        font-weight: 300;
    }
}

#partners {
    h4 {
        color: $dark_color;
        font-weight: 400;
        font-size: 19px;
    }

    img {
        max-width: 250px;
    }

    .line-img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#privacy_policy {
    color: $main_color;
    padding: 90px 0 40px;

    h1 {
        font-weight: 500;
        font-size: 32px;
        margin: 10px 0;
    }

    .policy-item {
        margin-top: 40px;
    }

    h2 {
        font-size: 20px;
    }

    ul {
        padding: 0  0 20px 20px;

        li {
            list-style-type: $list_style_default;

            a {
                color: #007bff;
            }
        }
    }
}
