//media query per il responsive (è stata strutturata non partendo dal mobile-first)
@media (max-width: 991.98px) {

    .navbar-collapse {
        background-color: $secondary_color;
        padding-bottom: 20px;

        button {
            margin: 10px 0 0 0;
        }
    }

    #jumbotron {
        h1 {
            font-size: 40px;
        }

        img {
            width: 100%;
            margin-top: 50px;
        }
    }

    #results h3 {
        font-size: 35px;
    }

    #partners {
        padding: 20px 0;

        .line-img {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    footer {
        #footer-top .container {
            padding-bottom: 30px;
        }
    }
}
