//variabili per il font
$main_color: #1b3c59;
$secondary_color: white;
$details_color : #61ce4e;
$dark_color: #8e8e8e;
$list_style_default: disc;
$padding_secondary_page: 90px 0 40px;
$grey_color: #e8ebf1;
$default_padding_faq: 0 80px;
